.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featurebutton {
  border: 2px solid #aaa;
  background-color: #f6f3f4;
  border-radius: 10px;
  width: 30%;
  text-decoration: none;
}
